.card {
    background-color: #D9D9D9; /* Blå farve */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card h1 {
    margin-top: 0;
}

.card p {
    margin: 8px 0;
}


.flexcards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.button:hover {
    background-color: #000000; /* Mørkere blå farve ved hover */
}

.button:active {
    background-color: #000000; /* Endnu mørkere blå farve ved aktivt klik */
}
