.videoGif {
    position: fixed;  
    bottom: 10px;
    right: 10px;      
    width: 500px;
    height: auto;
    z-index: 1000;
}

@media (max-width: 768px) {
    .videoGif {
        width: 400px; 
        bottom: 10px;
        right: 10px; 
    }
}


@media (max-width: 480px) {
    .videoGif {
        width: 400px; 
    }
}