.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #688DB4;
    padding: 10px 20px;
}


.logo {
    height: 500px; /* Juster efter behov */
}

.links {
    display: flex;
    gap: 20px;
}

.linktext {
    color: white;
    text-decoration: none;
    font-size: large;
}