header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #5a58e3;
    align-items: center;
    font-size: 100%;
}


.logo {
    height: 8rem;
    padding: 20px;
    border: none;
    font-weight: initial;
    color: initial;
}

img {
    height: 100%;
}

.link {
    border: green solid 1px;
    display: flex;
    gap: 20px;
    background-color: red;
}

.linktext {
    color: white;
    text-decoration: none;
    font-size: 150%;
}